<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Community Chat</title>
    <link rel="stylesheet" href="/stylesheets/chat.min.css">
<<<<<<< HEAD
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">    
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
=======
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>
    <script type="module" src="/firebase-notification.js"></script>
>>>>>>> 2eba0c87247afa197b6f566bfacd31c5b6cc6626
</head>
<body>
    <section class="community-chat-section">
        <nav class="community-nav">
            <div class="community-logo">
                <img src="<%= community.CommunityDP %>" alt="Community Logo">
            </div>
            <h2 class="community-name"><%= community.CommunityName %></h2>
            <% if(member || type === "Public") {%>
                <div class="icon-container">
                    <span class="icon">&#9776;</span>
                    <div class="icon-dropdown-menu">
                        <ul>
                            <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
                            <li><a href="/Settings"><i class="fas fa-cogs"></i> Settings</a></li>
                            <li><a href="/Members/<%= community._id %>"><i class="fas fa-users"></i> Members</a></li>
                            <li><a href="/Notification"><i class="fas fa-bell"></i> Notifications</a></li>
                            <li><a href="/Exit-Community/<%= community._id %>"><i class="fas fa-sign-out-alt"></i> Exit-Communtiy</a></li>
                        </ul>
                    </div>
                </div>
            <% } %>
        </nav>
        <div class="chat-container">
            <div class="chat-panel">                     </div>
            <% if(member || type === "Public") { %>
            <div class="input-section">
                <div class="file-options">
                    <i class="fas fa-paperclip clip-icon"></i>
                    <div class="dropdown-menu">
                        <ul class="dropdown-list">
                            <li><a href="#"><i class="fas fa-camera"></i> Camera</a></li>
                            <li><a href="#"><i class="fas fa-images"></i> Gallery</a></li>
                            <li><a href="#"><i class="fas fa-file-alt"></i> Document</a></li>
                            <li><a href="#"><i class="fas fa-poll"></i> Poll</a></li>
                        </ul>
                    </div>
                </div>
                <input type="text" placeholder="Type your message" class="message-input">
                <button class="send-btn">Send</button>
                <% }else { %>
                    <div class="pay-section">
                    <form action="/Join-community/<%= community._id %>" method="post">
                        <button class="Add-input">Join-community</button>
                    </form>
                </div>
                </a>
                <% } %>
            </div>
        </div>
    </section>
    <script>
        const user = "<%= user.username %>";
        const communityId = "<%= community._id %>";
        const community = "<%= community._id %>";
    </script>
<<<<<<< HEAD
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascript/chat.min.js"></script>
    <script type="module" src="/firebase-notification.js"></script>
=======
    <script src="/javascript/chat.min.js"></script>
>>>>>>> 2eba0c87247afa197b6f566bfacd31c5b6cc6626
</body>
</html>