<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Watch live debates on trending topics, engage with experts, and voice your opinions in real time on ClarTalk. Join the conversation now!">
    <title>ClarTalk</title>
    <link rel="stylesheet" href="./stylesheets/home.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <section class="container">
        <header>
            <div class="branding">
                <img src="/images/nav.avif" alt="ClarTalk Logo">
            </div>
            <nav class="navigation">
                <a href="/" class="nav-link active">
                    <i class="fas fa-tv"></i> Live
                </a>
                <a href="debate" class="nav-link">
                    <i class="fas fa-comments"></i> Entertainment
                </a>
                <a href="podcast" class="nav-link">
                    <i class="fas fa-podcast"></i> Podcasts
                </a>
                <a href="/community" class="nav-link">
                    <i class="fas fa-users"></i> Community
                </a>
                <a href="/creator/opponent-requests/<%= user._id %>" class="nav-link">
                    <i class="fas fa-envelope"></i> Requests
                </a>
                <a href="/LeaderBoard" class="nav-link">
                    <i class="fas fa-trophy"></i> Leaderboard
                </a>
                <a href="/MUN-competetion" class="nav-link">
                    <i class="fas fa-globe"></i> MUN
                </a>
                <a href="/Notification" class="nav-link">
                    <i class="fas fa-bell"></i> Notifications
                </a>
                <a href="/profile" class="nav-link">
                    <i class="fas fa-user"></i> Profile
                </a>
            </nav>
        </header>
        <main class="page">
            <% if (vedios.length > 0) { %>
                <% vedios.forEach(function(vedio) { %>
                    <a href="/live-content-applying-page/<%= vedio._id %>" class="video-card" data-id="<%= vedio._id %>">
                        <img src="<%= vedio.Thumbnail %>" alt="Video Thumbnail">
                        <div class="video-details">
                            <h3 class="video-title"><%= vedio.title %></h3>
                            <p>
                                <% if (vedio.LiveStatus === "Processing"){ %>
                                    <p class="video-time" data-time="<%= vedio.Time %>">Time Left: Calculating...</p>
                                <% }else if(vedio.LiveStatus === "Live"){ %>
                                    <div class="video-status"><%= vedio.LiveStatus %></div>
                                <% }else{ %>
                                    <div class="Ended-status"><%= vedio.LiveStatus %></div>
                                <% } %>
                            </p>
                        </div>
                    </a>
                <% }) %>
            <% } else { %>
                <div class="instruction">
                    <p>Click on the button below to create a live debate</p>
                    <a href="/creator/creator/Live" class="Button-instruction">Create Live</a>
                </div>
            <% } %>
        </main>
    </section>
    <!-- <div class="banner" style="display: none;">
        <a href="#$">
            <img src="/images/banner.png" alt="" class="banner-image" loading="lazy">
        </a>
        <button class="close-button"><i class="fas fa-times"></i></button>
    </div> -->
    <script src="/socket.io/socket.io.js"></script>
    <script src="./javascript/home.min.js"></script>
    <script type="module" src="/firebase-notification.min.js"></script>
</body>
</html>