<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Live Video</title>
    <script src="/javascript/socket.io.js"></script>
    <link rel="stylesheet" href="/stylesheets/live-player.css">
    <style>
        #remoteVideos{
            display: flex;
            flex-direction: row;
            width: 100%;
        }
        #remoteVideos video{
            height: 100%
        }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <script type="module" src="/firebase-notification.js"></script>
     <script src="/javascript/live-player.js"></script>
</head>
<body>
    <section>
        <div class="container">
            <div class="player">
                <input type="text" id="roomId" placeholder="Enter Debate Room ID" value="<%= Live._id %>" hidden>
                <% if(isCreator || isOpponent){ %>
                <div class="local-video">
                    <video id="localVideo" autoplay muted playsinline></video>
                </div>
                <% } %>
                <div class="remote-video">
                    <label class="comment-btn" for="commentsToggle" id="icon">
                        <i class="fas fa-comment comment-i"></i> 
                    </label>
                    <div id="remoteVideos"></div> <!-- Multiple debaters will be shown here -->
                </div>            
            </div>
            <div class="main-buttons">
                <% if(isCreator || isOpponent){ %>
                    <button class="start-stream-btn" onclick="joinRoom('debater')">Start Stream</button>
                <% } %>
                <button class="end-call-btn" onclick="joinRoom('viewer')">End Call</button>
            </div>
            <% if(isViewer){ %>
            <div class="about-video">
                <p class="title"><%= Live.title %></p>
                <div class="description">
                    <p><%= Live.description %></p>
                </div>
            <% } %>
            </div>
        <input type="checkbox" id="commentsToggle" class="comments-toggle" hidden>
        <div class="panel">
            <div id="buttons">
                <div>Comments</div>
                <div>Questions</div>
            </div>
            <div class="comments">
                <div class="comment-input">
                    <input type="text" placeholder="Add a comment" id="commentInputComments">
                    <button id="commentButtonComments">➤</button>
                </div>
                <div class="allsinglecomment">
                <% comments.forEach(function(comment) { %>
                <div class="comment-list" id="comment-list">
                    <% if (comment.userId && comment.userId.profile) { %>
                        <img src="data:image/jpeg;base64,<%= comment.userId.profile.toString('base64') %>" 
                        alt="" class="comment-image">
                    <% } else { %>
                        <img src="/images/default.png" alt="Default Profile" class="comment-image">
                    <% } %>
                    <p><strong class="strong"><%= comment.userId.username %>:</strong> <%= comment.text %></p>
                </div>
                <% }) %>
            </div>
            </div> 
            <div id="questions">
                <div class="comment-input">
                    <input type="text" placeholder="Ask a question" id="commentInputQuestions">
                    <button id="commentButtonQuestions">Submit</button>
                </div>
                <div class="questions">
                <% Questions.forEach(function(question) { %>
                <div class="comment-list">
                    <strong class="strong">Question:</strong><p><%= question %></p>
                </div>
                <% }) %>
            </div>
            </div>
        </div>
    </div>
    </section> 
    <script>
        const liveId = "<%= Live._id %>";
    </script>
</body>
</html>