<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarTalk</title>
    <link rel="stylesheet" href="./stylesheets/Podcasts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <section class="container">
        <header>
            <div class="branding">
                <img src="/images/nav.png" alt="ClarTalk Logo">
                <div class="search-bar">
                    <i class="fa fa-search Search-icon"></i>
                    <input type="text" placeholder="Search topics, debates...">
                </div>
            </div>
            <nav class="navigation">
                <a href="/" class="nav-link">
                    <i class="fas fa-tv"></i> Live
                </a>
                <a href="debate" class="nav-link">
                    <i class="fas fa-comments"></i> Entertainment
                </a>
                <a href="podcast" class="nav-link active">
                    <i class="fas fa-podcast"></i> Podcasts
                </a>
                <a href="/community" class="nav-link">
                    <i class="fas fa-users"></i> Community
                </a>
                <a href="/creator/opponent-requests/<%= user._id %>" class="nav-link">
                    <i class="fas fa-envelope"></i> Requests
                </a>
                <a href="/LeaderBoard" class="nav-link">
                    <i class="fas fa-trophy"></i> Leaderboard
                </a>
                <a href="/MUN-competetion" class="nav-link">
                    <i class="fas fa-globe"></i> MUN
                </a>
                <a href="/Notification" class="nav-link">
                    <i class="fas fa-bell"></i> Notifications
                </a>
                <a href="/profile" class="nav-link">
                    <i class="fas fa-user"></i> Profile
                </a>
            </nav>
            
        </header>
            <div class="page">
                <% vedios.forEach(function(vedio){ %>
                    <a href="/podcast/<%= vedio._id %>" class="video-card">
                        <img src="data:image/jpeg;base64,<%= vedio.Thumbnail.toString('base64') %>" alt="debates">
                        <div class="video-details">
                        <p class="video-title"><%= vedio.title %></p>
                        <p class="video-time"><%= vedio.createdAt.toLocaleDateString('en-GB') %></p>
                        <p class="Views"><%= vedio.Views %> Views</p>
                    </div>
                    </a>
                <% }) %>
            </div>
            <div class="instruction">
                No More Videos
            </div>
        </div>
    </section>
    <script type="module" src="/firebase-notification.js"></script>
</body>
</html>