<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ClarTalk</title>
    <link rel="stylesheet" href="./stylesheets/profile.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <style>
        .setting{
            font-size: 50px;
            color: white;
            position: relative;
            text-align: end;
        }
    </style>
</head>
<body>
    <section class="contanier">
        <div class="home">
            <nav>
                <div class="image">
                <img src="/images/nav.png" alt="clartalk">
                </div>
            <div class="navigation">
                <a href="/" class="nav-link">
                    <i class="fas fa-tv"></i> Live
                </a>
                <a href="debate" class="nav-link">
                    <i class="fas fa-comments"></i> Entertainment
                </a>
                <a href="podcast" class="nav-link">
                    <i class="fas fa-podcast"></i> Podcasts
                </a>
                <a href="/community" class="nav-link">
                    <i class="fas fa-users"></i> Community
                </a>
                <a href="/creator/opponent-requests/<%= user._id %>" class="nav-link">
                    <i class="fas fa-envelope"></i> Requests
                </a>
                <a href="/LeaderBoard" class="nav-link">
                    <i class="fas fa-trophy"></i> Leaderboard
                </a>
                <a href="/MUN-competetion" class="nav-link">
                    <i class="fas fa-trophy"></i> MUN
                </a>
                <a href="/profile" class="nav-link active">
                    <i class="fas fa-user"></i> Profile
                </a>
            </div>
            <div class="Points">
                <p>Ranking: 1</p>
            </div>
            </nav>
            <div class="profile-page">
                <a href="/settings"><div class="setting"><i class="fa fa-cog"></i></div></a>
                 <div id="profile-page">
                    <span class="profile-img">
                        <% if(profile && profile.length > 0) { %>
                            <img src="data:image/jpeg;base64,<%= profile.toString('base64') %>" alt="Profile Image">
                        <% } else { %>
                            <img src="/images/Default.png" alt="Default Profile Image">
                        <% } %>
                    </span>
                    <div id="About-user">
                        <div class="username">
                            <strong><%= user.username %></strong>
                        </div>
                        <div class="follower video">
                            <p>
                                <span class="videos"><%= totalContent %> videos</span>
                                <span class="followers"><%= followerCount %> followers</span>
                            </p>
                        </div>
                    </div>
                    <a href="/update-route/<%= user._id %>" id="update-a">
                        <div class="update-user-profile">Update The Profile</div>
                    </a>
                 </div>
                 <section class="input">
                    <a href="/uploaded-content" class="input-a">
                        <div class="My-videos">
                             <p>Uploaded Content</p>
                        </div>
                    </a>
                    <a href="/SentRequests" class="input-a">
                        <div class="My-videos">
                             <p>Sent Requests</p>
                        </div>
                    </a>
                    <a href="/My-World" class="input-a">
                        <div class="My-videos">
                             <p>Build Communities</p>
                        </div>
                    </a>
                    <a href="/start-debate" class="input-a">
                        <div class="My-videos">
                             <p>Start Debate</p>
                        </div>
                    </a>
                 </section>
                 <div id="extra">
                    <p class="extra">World Is Yet To Conqures</p>
                 </div>
            </div>
        </div>
    </section>
</body>
</html>