<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Uploaded-Content</title>
    <link rel="stylesheet" href="./stylesheets/Uploaded.css">
</head>
<body>
    <section class="page">
        <nav>
            <h1>Uploaded-Content</h1>
            <div class="Count">
                <p class="length">Total Content:<%= allContent.length %></p>
            </div>
        </nav>
        <section id="Content">
            <div class="videos">
                <% allContent.forEach(function(content) { %>
                <div class="vedio">
                    <img src="data:image/jpeg;base64,<%= content.Thumbnail.toString('base64') %>" alt="<%= content.type %>">
                    <p class="title"><%= content.title %></p>
                    <p class="Time"><%= new Date(content.createdAt).toLocaleDateString() %></p>
                    <p class="Views"><%= content.Views || 0 %> Views</p>
                </div>
                <% }) %>
            </div>
            <div class="extra">
                <h2>No More Content</h2>
            </div>
        </section>
    </section>
</body>
</html>
